@import url('https://fonts.googleapis.com/css?family=Merriweather:300&display=swap');
@import url('https://fonts.googleapis.com/css?family=Playfair+Display&display=swap');

*
{
	margin:						0;
	padding:					0;
	-webkit-font-smoothing: 	antialiased;
}

ul
{
	list-style:					none; /* Remove HTML bullets */
	padding:					0;
	margin:						0;
}

li::before
{
	content:					"\25C6";
	font-size:					1rem;
	padding-right:				0.5rem;
}

html
{
	
	scroll-behavior:			smooth;
	overflow: 					auto;
	font-size: 					5vmin;
}

img
{
	user-drag: 					none; 
	user-select:				none;
	-moz-user-select:			none;
	-webkit-user-drag:			none;
	-webkit-user-select:		none;
	-ms-user-select:			none;
}

body
{
	-webkit-font-smoothing: 	antialiased;
	-webkit-text-size-adjust:	none;
	margin:						0;
	font-family: 				'Merriweather', serif;
	color:						#926239;
	line-height:				1.7;
	overflow-x: 				hidden;
	overflow: 					auto;
	scroll-behavior: 			smooth;
}

a:link
{
	color:						#99ffcc;
}

a:visited
{
	color:						#cc99ff;
}

br
{
	display:					block;	/* makes it have a width */
	content:					"";		/* clears default height */
	margin-top:					5px;	/* change this to whatever height you want it */
}

/* Optional styling */
/* summary::-webkit-details-marker {
  color: blue;
} */

summary:focus
{	
    outline-style:				none; 
}

details[open] summary ~ *
{
	animation:					sweep .5s ease-in;

}

@keyframes sweep
{
	0%							{opacity: 0.1; margin-left: -1rem}
	100%						{opacity: 1; margin-left: 0px}
}

	/* Mobile */

	/* tablet, landscape iPad, lo-res laptops ands desktops */ 


video
{ 
	position: 					fixed;
	top: 						50%;
	left: 						50%;
	min-width: 					100%;
	min-height: 				100%;
	width: 						auto;
	height: 					60vw;
	z-index: 					-100;
	transform: 					translateX(-50%) translateY(-50%);
	background: 				#000;
	background-size: 			cover;
	transition: 				1s opacity;
}

#showcase
{
	background-size:			cover;
	background-position:		center;
	height:						100vh;
	display:					flex;
	flex-direction:				column;
	justify-content:			center;
	align-items:				center;
	text-align:					center;
	padding: 					0rem 2.5rem;
}

#showcase .logo
{
	max-width:					8rem;
	max-height:					8rem;
	margin-bottom:				0.5rem;
	background-image:			url("media/logo.png");
	user-drag:					none; 
	user-select:				none;
	-moz-user-select:			none;
	-webkit-user-drag:			none;
	-webkit-user-select:		none;
	-ms-user-select:			none;
}

#showcase h1
{
	color:						rgba(255, 204, 153, 0.9);
	font-size:					2.2rem;
	font-weight:				300;
	line-height:				1.2;
	margin-bottom:				1rem;
}

#showcase p
{
	color:						rgba(255, 204, 153, 0.7);
	font-size:					1rem;
	margin-bottom:				1.5rem;
}

#showcase .button
{
	margin-top:					1rem;
	font-size:					1.2rem;
	text-decoration:			none;
	color:						#4d0028;
	border:						#4d0028	3px	solid;
	background:					rgba(20, 00, 10, 0.7);
	padding:					0.5rem 2rem;
	border-radius:				0px;
}

#showcase .button:hover
{
	background:					rgba(44, 00, 20, 0.8);
	padding:					0.4rem 1.8rem;
	color:						rgba(255, 204, 153, 0.8);
	border:						rgba(00, 00, 00, 0.2) 9px solid;
}

#info
{
	padding:					0rem 0vh;
	font-size:					1.1rem;
	background:					rgba(22, 00, 10, 0.9);
	color:						rgba(255, 204, 153, 0.8);
	text-align:					left;
	display:					absolute;
	padding-bottom:				2.5rem;
	padding-top:				2.5rem;
}

#info h1
{
	font-size:					2rem;
	font-family: 				'Playfair Display', serif;
}

#info .box-1
{

	background:					rgba(05, 05, 05, 0);
	padding-top:				4rem;
	padding-left:				2.5rem;
	padding-right:				2rem;
	padding-bottom:				3.5rem;
}

#info .box-2
{
	border:						rgba(255, 204, 153, 0.5) 2px solid;
	border-radius:				5px;
	text-align:					center;
	background:					rgba(05, 05, 05, 0);
	padding-top:				2.5rem;
	padding-left:				-2.5rem;
	padding-right:				-2.5rem;
	padding-bottom:				2.5rem;
	margin-left:				2.5rem;
	margin-right:				2.5rem;
	margin-bottom:				0rem;
}

#info .box-3
{
	padding:					5rem 2.5rem;
	background:					rgba(05, 05, 05, 1);
}

#list
{
	padding:					0vh 0vw;
	background:					rgba(05, 05, 05, 0.9);
	color:						rgba(255, 204, 153, 0.9);
	/* justify-content:			center; */
	text-align:					left;
	display:					absolute;
	font-size:					1rem;
	line-height:				1.8;
  
}

#list h1
{
	font-family: 				'Playfair Display', serif;
	font-size:					1.8rem;
	margin-bottom:				2rem;
	border-bottom:				rgba(255, 204, 153, 0.5) 2px solid;
}

#list h2
{
	font-size:					1.2rem;
}

#list .bbox-1
{
	color:						rgba(255, 204, 153, 0.9);
	padding-top:				2.5rem;
	padding-left:				2.5rem;
	padding-right:				2rem;
	margin-bottom:				5rem;
	text-align:					left;
}

#list .bbox-2
{
	color:						rgba(255, 204, 153, 0.9);
	margin-top:					5rem;
	padding-left:				2rem;
	padding-right:				2rem;
	margin-bottom:				5rem;
	text-align:					left;
}

#list .bbox-3
{
	color:						rgba(255, 204, 153, 0.9);
	margin-top:					5rem;
	padding-left:				2rem;
	padding-right:				5rem;
	padding-bottom:				5rem;
	text-align:					left;
}

#list .bbox-4{
	color:						rgba(255, 204, 153, 0.9);
	padding-top:				5rem;
	padding-left:				2.5rem;
	padding-right:				2rem;
	text-align:					left;
}

#list .bbox-5
{
	color:						rgba(255, 204, 153, 0.9);
	margin-top:					5rem;
	padding-left:				2.5rem;
	padding-right:				2rem;
	padding-bottom:				5rem;
	text-align:					left;
}

#box
{
	padding:					0vh 0vh;
	color:						rgba(255, 204, 153, 0.9);
	justify-content:			center;
	text-align:					left;
	display:					absolute;
	font-size:					1rem;
}

#box .bbox-1
{
	background:					rgba(22, 00, 10, 0);
	padding:					1.5rem;
	text-align:					left;
	padding-left:				2.5rem;
	padding-right:				2rem;
}

#box .bbox-2
{
	color:						rgba(255, 204, 153, 0.9);
	background:					rgba(255, 204, 153, 0);
	padding:					1.5rem;
	text-align:					left;
	padding-left:				2.5rem;
	padding-right:				2rem;
}

#box .bbox-3
{
	background:					#000;
	padding:					1.5rem;
	text-align:					left;
	padding-left:				2.5rem;
}

#box .box-4
{
	background:					rgba(05, 05, 05, 0.8);
	padding-top:				2.5rem;
	padding-left:				2.5rem;
	padding-right:				5rem;
	padding-bottom:				2.5rem;
}

#box img
{
	border:						2px solid #000;
	padding:					5px;
	border-radius:				50%;
	max-width:					100%;
	height:						auto;
}

#dbox
{
	padding:					0vh 0vh;
	background:					rgba(22, 00, 10, 0);
	color:						rgba(255, 204, 153, 0.8);
	justify-content:			center;
	text-align:					left;
	display:					absolute;
}

#dbox h1
{
	font-family: 				'Playfair Display', serif;
	color:						rgba(255, 204, 153, 0.8);
	font-size:					1.6rem;
	padding-bottom:				1rem;
	line-height:				1.2;
}

#dbox .dbox-1
{
	padding-top:				2.5rem;
	padding-left:				2.5rem;
	padding-right:				2rem;
	padding-bottom:				0rem;
	text-align:					center;
}

#dbox .dbox-2
{
	padding:					1.5rem;
	padding-left:				2.5rem;
	padding-right:				2rem;
	text-align:					left;
}

#dbox .dbox-3
{
	padding:					1.5rem;
	padding-left:				2.5rem;
	padding-bottom:				2.5rem;
	padding-right:				2rem;
	text-align:					left;
}

#dbox img
{
	border:						2px solid #000;
	padding:					5px;
	border-radius:				50%;
	max-width:					10rem;
	height:						auto;
	user-drag:					none; 
	user-select:				none;
	-moz-user-select:			none;
	-webkit-user-drag:			none;
	-webkit-user-select:		none;
	-ms-user-select:			none;
}

#footer
{
	font-size:					1rem;
	padding:					5rem 2.5rem;
	padding-top:				5rem;
	color:						rgba(255, 204, 153, 0.8);
	background:					#050505;
	text-align:					left;
}

#footer .bleak
{
	color:						rgba(255, 204, 153, 0.8);
	padding-top:				1.5rem;
	text-align:					left;
	font-size:					0.8rem;
}
	/* end mobile devices*/
	
	/* iPAD */
@media screen and (min-width:768px) and (min-height:768px) {

html {
	font-size: 1.8vmin;
}

#showcase{
  background-size:cover;
  background-position:center;
  height:100vh;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  text-align:center;
  padding:0 20px;
}

#showcase .logo {
  max-width: 15rem;
  max-height: 15rem;
  margin-bottom: 2rem;
  transition: 0.5s;
  background-image: url("media/logo.png");
  user-drag: none; 
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

#showcase h1{
	
  color: rgba(255, 204, 153, 0.9);
  font-size:3rem;
  line-height:1.2;
  margin-bottom: 1rem;
}

#showcase p{
  color: rgba(255, 204, 153, 0.7);
  font-size:1.5rem;
  max-width: 100vmax;
  margin-bottom: 2rem;
  transition: 0.5s;
}

#showcase .button{
  margin-top:1rem;
  font-size:1.6rem;
  text-decoration:none;
  color:#4d0028;
  border:#4d0028 3px solid;
  background: rgba(20, 00, 10, 0.7);
  padding:0.5rem 2rem;
  transition: 0.3s;
}

#showcase .button:hover{
  background: rgba(44, 00, 20, 0.8);
  padding: 0.4rem 1.8rem;
  color: rgba(255, 204, 153, 0.8);
  border: rgba(00, 00, 00, 0.2) 9px solid;
}

#info{
  font-size:1.2rem;
  padding: 0rem 5vw;
  background: rgba(22, 00, 10, 0.9);
  color: rgba(255, 204, 153, 0.8);
  text-align:left;
  display:absolute;
  padding-bottom:	2.5rem;
  padding-top:		5rem;
}

#info h1
{
	font-family: 				'Playfair Display', serif;
	font-size:					2rem;
} 

#info .box-1
{
	font-size: 1.4rem;
	background: rgba(05, 05, 05, 0);
	padding-top:7rem;
	padding-left:5rem;
	padding-right:5rem;
	padding-bottom:5rem;
}

#info .box-2
{
	border: rgba(255, 204, 153, 0.5) 2px solid;
	border-radius: 5px;
	text-align:center;
	background: rgba(05, 05, 05, 0);
	color: rgba(255, 204, 153, 1);
	padding-top:2.5rem;
	padding-left:-2.5rem;
	padding-right:-2.5rem;
	margin-left:2.5rem;
	margin-right:2.5rem;
	margin-bottom:2.5rem;
}

#info .box-3{
	padding:5rem 5rem;
	background: rgba(05, 05, 05, 1);
}

#list{
	background: rgba(05, 05, 05, 0.9);
	color: rgba(255, 204, 153, 0.9);
	justify-content:center;
	/* align-items:center; */
	text-align:left;
	display: absolute;
	font-size:1.2rem;
	padding: 0vw 5vw;
	line-height:2;
  
}

#list h1{
  font-size:1.8rem;
  margin-bottom: 1.5rem;
  border-bottom: rgba(255, 204, 153, 0.5) 2px solid;
}

#list h2{
  font-size:1.2rem;
}

#list .bbox-1{
  color: rgba(255, 204, 153, 0.9);
  margin-top: 0rem;
  padding-top: 5rem;
  padding-left: 5rem;
  padding-right: 2rem;
  margin-bottom: 2rem;
  text-align: left;
}

#list .bbox-2{
  color: rgba(255, 204, 153, 0.9);
  margin-top: 5rem;
  padding-left: 5rem;
  padding-right: 2rem;
  margin-bottom: 2rem;
  text-align: left;
}

#list .bbox-3{
  color: rgba(255, 204, 153, 0.9);
  margin-top: 5rem;
  padding-left: 5rem;
  padding-right: 5rem;
  margin-bottom: 0rem;
  padding-bottom: 7rem;
  text-align: left;
}

#list .bbox-4{
  color: rgba(255, 204, 153, 0.9);
  margin-top: 0rem;
  padding-left: 5rem;
  padding-right: 5rem;
  margin-bottom: 7rem;
  text-align: left;
}

#list .bbox-5{
  color: rgba(255, 204, 153, 0.9);
  margin-top: 7rem;
  padding-left: 5rem;
  padding-right: 5rem;
  margin-bottom: 0rem;
  text-align: left;
}

#box{
  padding: 0vh 0vh;
  color: rgba(255, 204, 153, 0.9);
  justify-content:center;
/*   align-items:center; */
  text-align:left;
  display: absolute;
  font-size:1.2rem;
}

#box h1{

  font-size:1.8rem;
  padding-bottom: 0.5rem;
}

#box .bbox-1{
  background: rgba(22, 00, 10, 0);
  padding: 1.5rem;
  text-align:left;
  padding-left: 5rem;
  padding-bottom: 5rem;
}

#box .bbox-2{
  color: rgba(255, 204, 153, 0.9);
  background: rgba(255, 204, 153, 0);
  padding: 1.5rem;
  text-align:left;
  padding-left: 5rem;

}

#box .bbox-3{
  background:#000;
  padding: 1.5rem;
  text-align:left;
  padding-left: 5rem;
}

#box .box-4{
  background: rgba(05, 05, 05, 0.3);
  padding-top:2.5rem;
  padding-left:5rem;
  padding-right:5rem;
  padding-bottom:2.5rem;
}

#box img {
  border: 2px solid #000;
  padding: 5px;
  border-radius: 50%;
  max-width: 100%;
  height: auto;
}

#dbox{
  background: rgba(22, 00, 10, 0);
  color: rgba(255, 204, 153, 0.8);
  justify-content:center;
  text-align:left;
  display: -webkit-flex; /* Safari */
  display: flex;
  flex: 1;
  padding-right: 5vw;
}

#dbox h1{
  color: rgba(255, 204, 153, 0.8);
  font-size:1.6rem;
  line-height:1.5;
  padding-bottom: 1rem;
}

#dbox .dbox-1{
  margin-top: 5rem;
  padding-right: 5rem;
  margin-bottom: 7rem;

}

#dbox .dbox-2{
  margin-top: 5rem;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  margin-bottom: 7rem;

  border-left: rgba(255, 204, 153, 0.5) 3px solid;
  border-right: rgba(255, 204, 153, 0.5) 3px solid;
  background: 0;
}

#dbox .dbox-3{
  margin-top: 5rem;
  padding-left: 2.5rem;
  margin-bottom: 7rem;

}


#dbox img {
  border: 2px solid #000;
  padding: 5px;
  border-radius: 50%;
  max-width: 13rem;
  height: auto;
  user-drag: none; 
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

#footer{
  font-size:1.1rem;
  padding: 7.5rem 18vw;
  padding-top: 5rem;
  color: rgba(255, 204, 153, 0.8);
  background: #050505;
  text-align: left;
}

#footer .bleak{
  color: rgba(255, 204, 153, 0.8);
  padding-top: 1.5rem;
  text-align: left;
  font-size: 0.9rem;
}

}
	/* end iPAD */
@media screen and (min-width:910px){
	
#list
{
	/* align-items:center; */
	display: flex;
}

#list .bbox-1
{
	padding-top: 0rem;
  margin-top:				5rem;
  padding-top:				0rem;
	margin-bottom:	7rem;
}

#list .bbox-2
{
  margin-bottom: 7rem;
}

#list .bbox-3
{
	padding-bottom: 7rem;
}

#list .bbox-4
{
	margin-top: 7rem;
  padding-top:				0rem;
  padding-left: 5vw;
  padding-right: 5vw;
   margin-bottom: 7rem;
}

#list .bbox-5
{
	margin-top: 7rem;
  padding-left: 5vw;
  padding-right: 5vw;
  margin-bottom: 7rem;
}

}

	/* Desktop */
@media screen and (min-width:1240px) {

html {
	font-size: 1.6vmin;
}

video { 
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  transform: translateX(-50%) translateY(-50%);
  background: url('media/poster1.jpg') no-repeat;
  background-size: cover;
  transition: 1s opacity;
}

#showcase{
  background-size:cover;
  background-position:center;
  height:100vh;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  text-align:center;
  padding:0 20px;
}

#showcase .logo {
  max-width: 15rem;
  max-height: 15rem;
  margin-bottom: 2rem;
  transition: 0.5s;
  background-image: url("media/logo.png");
  user-drag: none; 
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

#showcase h1{
	
  color: rgba(255, 204, 153, 0.9);
  font-size:3rem;
  line-height:1.2;
  margin-bottom: 1rem;
}

#showcase p{
  color: rgba(255, 204, 153, 0.7);
  font-size:1.5rem;
  max-width: 100vmax;
  margin-bottom: 2rem;
  transition: 0.5s;
}

#showcase .button{
  margin-top:1rem;
  font-size:1.6rem;
  text-decoration:none;
  color:#4d0028;
  border:#4d0028 3px solid;
  background: rgba(20, 00, 10, 0.7);
  padding:0.5rem 2rem;
  transition: 0.3s;
}

#showcase .button:hover{
  background: rgba(44, 00, 20, 0.8);
  padding: 0.4rem 1.8rem;
  color: rgba(255, 204, 153, 0.8);
  border: rgba(00, 00, 00, 0.2) 9px solid;
}

#info{
  font-size:1.2rem;
  padding: 0rem 18vw;
  background: rgba(22, 00, 10, 0.9);
  color: rgba(255, 204, 153, 0.8);
  text-align:left;
  display:absolute;
  padding-bottom:	2.5rem;
  padding-top:		5rem;
}

#info h1
{
	font-family: 				'Playfair Display', serif;
	font-size:					2rem;
} 

#info .box-1
{
	font-size: 1.4rem;
	background: rgba(05, 05, 05, 0);
	padding-top:7rem;
	padding-left:5rem;
	padding-right:5rem;
	padding-bottom:5rem;
}

#info .box-2
{
	border: rgba(255, 204, 153, 0.5) 2px solid;
	border-radius: 5px;
	text-align:center;
	background: rgba(05, 05, 05, 0);
	color: rgba(255, 204, 153, 1);
	padding-top:2.5rem;
	padding-left:-2.5rem;
	padding-right:-2.5rem;
	margin-left:2.5rem;
	margin-right:2.5rem;
	margin-bottom:2.5rem;
}

#info .box-3{
  padding:5rem 5rem;
  background: rgba(05, 05, 05, 1);
}

#list{
	padding: 0vh 18vw;
	background: rgba(05, 05, 05, 0.9);
	color: rgba(255, 204, 153, 0.9);
	justify-content:center;
	/* align-items:center; */
	text-align:left;
	display: flex;
	font-size:1.2rem;
	padding: 0vw 18vw;
	line-height:2;
  
}

#list h1{
  font-size:1.8rem;
  margin-bottom: 1.5rem;
  border-bottom: rgba(255, 204, 153, 0.5) 2px solid;
}

#list h2{
  font-size:1.2rem;
}

#list .bbox-1{
  color: rgba(255, 204, 153, 0.9);
  padding-top:				0;
  padding-left: 5rem;
  margin-top: 5rem;
  padding-right: 2.5rem;
  margin-bottom: 2rem;
  text-align: left;
}

#list .bbox-2{
  color: rgba(255, 204, 153, 0.9);
  margin-top: 5rem;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  margin-bottom: 2rem;
  text-align: left;
}

#list .bbox-3{
  color: rgba(255, 204, 153, 0.9);
  margin-top: 5rem;
  padding-left: 2.5rem;
  padding-right: 5rem;
  margin-bottom: 2rem;
  text-align: left;
}

#list .bbox-4{
  color: rgba(255, 204, 153, 0.9);
  margin-top: 7rem;
  padding-top:				0rem;
  padding-left: 0vw;
  padding-right: 5vw;
  margin-bottom: 5rem;
  text-align: left;
}

#list .bbox-5{
  color: rgba(255, 204, 153, 0.9);
  margin-top: 7rem;
  padding-left: 5vw;
  padding-right: 0vw;
  margin-bottom: 5rem;
  text-align: left;
}

#box{
  padding: 0vh 0vh;
  color: rgba(255, 204, 153, 0.9);
  justify-content:center;
/*   align-items:center; */
  text-align:left;
  display: absolute;
  font-size:1.2rem;
}

#box h1{

  font-size:1.8rem;
  padding-bottom: 0.5rem;
}

#box .bbox-1{
  background: rgba(22, 00, 10, 0);
  padding: 1.5rem;
  text-align:left;
  padding-left: 5rem;
  padding-bottom: 5rem;
}

#box .bbox-2{
  color: rgba(255, 204, 153, 0.9);
  background: rgba(255, 204, 153, 0);
  padding: 1.5rem;
  text-align:left;
  padding-left: 5rem;

}

#box .bbox-3{
  background:#000;
  padding: 1.5rem;
  text-align:left;
  padding-left: 5rem;
}

#box .box-4{
  background: rgba(05, 05, 05, 0.3);
  padding-top:2.5rem;
  padding-left:5rem;
  padding-right:5rem;
  padding-bottom:2.5rem;
}

#box img {
  border: 2px solid #000;
  padding: 5px;
  border-radius: 50%;
  max-width: 100%;
  height: auto;
}

#dbox{
  background: rgba(22, 00, 10, 0);
  color: rgba(255, 204, 153, 0.8);
  justify-content:center;
  text-align:left;
  display: -webkit-flex; /* Safari */
  display: flex;
  flex: 1;
}

#dbox h1{
  color: rgba(255, 204, 153, 0.8);
  font-size:1.5rem;
  line-height:1.5;
  padding: 0rem;
  padding-bottom: 1rem;
}

#dbox .dbox-1{
  margin-top: 5rem;
  padding-left: 5rem;
  padding-right: 5rem;
  margin-bottom: 7rem;
  text-align: left;
}

#dbox .dbox-2{
  margin-top: 5rem;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  margin-bottom: 7rem;
  text-align: left;
  border-left: rgba(255, 204, 153, 0.5) 3px solid;
  border-right: rgba(255, 204, 153, 0.5) 3px solid;
  background: 0;
}

#dbox .dbox-3{
  margin-top: 5rem;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  margin-bottom: 7rem;
  text-align: left;
}


#dbox img {
  border: 2px solid #000;
  padding: 5px;
  border-radius: 50%;
  max-width: 13rem;
  height: auto;
  user-drag: none; 
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

#footer{
  font-size:1.1rem;
  padding: 7.5rem 18vw;
  padding-top: 5rem;
  color: rgba(255, 204, 153, 0.8);
  background: #050505;
  text-align: left;
}

#footer .bleak{
  color: rgba(255, 204, 153, 0.8);
  padding-top: 1.5rem;
  text-align: left;
  font-size: 0.9rem;
}

}
	/* end Desktop */
	
	/* narrow mobile */
@media screen and (max-height:420px) {
	 
#showcase .logo {
  max-width: 7rem;
  max-height: 7rem;
  margin-bottom: 0.5rem;
  background-image: url("media/logo.png");
}

#showcase h1{
  color: rgba(255, 204, 153, 0.9);
  font-size:2rem;
  line-height:1.2;
  margin-bottom: 0.5rem;
}

#showcase p{
  color: rgba(255, 204, 153, 0.7);
  font-size:1rem;
  max-width: 100vmax;
  margin-bottom: 1rem;
}

#showcase .button{
  margin-top:2rem;
  font-size:1rem;
  text-decoration:none;
  color:#4d0028;
  border:#4d0028 0.2rem solid;
  background: rgba(20, 00, 10, 0.7);
  padding:0.25rem 1rem;
  border-radius: 0px;
}

#showcase .button:hover{
  background: rgba(44, 00, 20, 0.8);
  padding: 0.15rem 0.9rem;
  color: rgba(255, 204, 153, 0.8);
  border: rgba(00, 00, 00, 0.2) 0.3rem solid;
}	 
	
#dbox img {
  border: 2px solid #000;
  padding: 5px;
  border-radius: 50%;
  max-width: 7rem;
  height: auto;
}
	
}
	/* end narrow mobile */
	
	/* narrow and small mobile */
@media screen and (max-width:320px) {
	
	 
#showcase .logo {
  max-width: 7rem;
  max-height: 7rem;
  margin-bottom: 0.5rem;
  transition: 0.5s;
  background-image: url("media/logo.png");
}

#showcase h1{
  color: rgba(255, 204, 153, 0.9);
  font-size:1.8rem;
  line-height:1.2;
  margin-bottom: 0.5rem;
}

#showcase p{
  color: rgba(255, 204, 153, 0.7);
  font-size:1rem;
  max-width: 100vmax;
  margin-bottom: 1rem;
  transition: 0.5s;
}

#showcase .button{
  margin-top:1.2rem;
  font-size:1rem;
  text-decoration:none;
  color:#4d0028;
  border:#4d0028 0.2rem solid;
  background: rgba(20, 00, 10, 0.7);
  padding:0.25rem 1rem;
  transition: 0.3s;
}

#showcase .button:hover{
  background: rgba(44, 00, 20, 0.8);
  padding: 0.15rem 0.9rem;
  color: rgba(255, 204, 153, 0.8);
  border: rgba(00, 00, 00, 0.2) 0.3rem solid;
}	 


#info .box-1{
  background: rgba(05, 05, 05, 0);
  padding-top:2rem;
  padding-left:2rem;
  padding-right:1rem;
}

#info .box-2{
  background: rgba(05, 05, 05, 0);
  padding-top:1.5rem;
  padding-left:2rem;
  padding-right:1rem;
  padding-bottom:1.5rem;
}

#info .box-3{
  padding:2rem 2rem;
  background: rgba(05, 05, 05, 0);
}


#box{
  padding: 0vh 0vh;
  color: rgba(255, 204, 153, 0.8);
  justify-content:center;
/*   align-items:center; */
  text-align:left;
  display: absolute;
  font-size:1rem;
}

#box .bbox-1{
	color: rgba(255, 204, 153, 0.9);
  padding: 1rem;
  text-align:left;
  padding-left: 2rem;
}

#box .bbox-2{
	color: rgba(255, 204, 153, 0.9);
  padding: 1rem;
  text-align:left;
  padding-left: 2rem;
}

#box .bbox-3{
  background:#000;
  padding: 1rem;
  text-align:left;
  padding-left: 2rem;
}

#box .box-4{
  background: rgba(05, 05, 05, 0.8);
  padding-top:1.5rem;
  padding-left:2rem;
  padding-right:2rem;
  padding-bottom:2.5rem;
}

#box img {
  border: 2px solid #000;
  padding: 5px;
  border-radius: 50%;
  max-width: 100%;
  height: auto;
}


#dbox h1{
  color: rgba(255, 204, 153, 0.8);
  font-size:1.1rem;
  line-height:1.2;
  padding: 0.5rem;
  padding-left: 0rem;

}

#dbox .dbox-1{
  padding: 1.5rem;
  padding-top: 2rem;
  padding-left: 0rem;
  text-align: left;
    text-align: center;
}

#dbox .dbox-2{
  padding: 1.5rem;
  padding-left: 2rem;
  text-align: left;
}

#dbox .dbox-3{
  padding: 1.5rem;
  padding-left: 2rem;
  padding-bottom: 4rem;
  text-align: left;
}

#dbox img {
  border: 2px solid #000;
  padding: 5px;
  border-radius: 50%;
  max-width: 7rem;
  height: auto;
}

#footer{
  padding: 2rem 2rem;
  padding-top: 4rem;
  padding-bottom: 4rem;
  color: rgba(255, 204, 153, 0.7);
  background: #050505;
  text-align: left;
}

#footer .bleak{
  color: rgba(255, 204, 153, 0.6);
  padding-top: 1.5rem;
  text-align: left;
  font-size: 0.9rem;
}

}
	/* end narrow and small mobile */
